<!-- <a routerLink="counter">Counter App</a>
<br><a routerLink="hobby">Hobby</a> -->


<ul id="menu-seller-footer" class="nav sub-nav footer__sub-nav">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1333">
        <a title="Counter App" class="nav-btn-top" routerLink="counter">Counter App</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1335">
        <a title="Hobby" class="nav-btn-top" routerLink="hobby">Hobby</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1334">
        <a title="Licenses" class="nav-btn-top" routerLink="login">Login</a>
    </li>
</ul>

<router-outlet>
</router-outlet>