<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <h4 class="text-dark-50 text-center mt-0 font-weight-bold" style="color: #fff;">Sign Up</h4>
                    </div>

                    <div class="card-body p-4">
                        <div class="text-center w-75 m-auto">
                            <!-- <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Sign Up</h4> -->
                            <p class="text-muted mb-4">Don't have an account? Create your account, it takes less than a minute.</p>
                        </div>

                        <form [formGroup]="registerForm" (ngSubmit)="register()">
                            <div class="form-group">
                                <label for="firstname ">Firstname </label>
                                <input class="form-control" type="email" id="firstname " required="" placeholder="Enter Firstname" formControlName="fname">
                                <div *ngIf="fname.invalid && (fname.dirty || fname.touched)">
                                    <span *ngIf="fname.errors.required" class="text-danger"> Firstname is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastname ">Lastname </label>
                                <input class="form-control" type="email" id="lastname " required="" placeholder="Enter Lastname" formControlName="lname">
                                <div *ngIf="lname.invalid && (lname.dirty || lname.touched)">
                                    <span *ngIf="lname.errors.required" class="text-danger"> Lastname is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username">Username</label>
                                <input class="form-control" type="email" id="username" required="" placeholder="Enter Username" formControlName="username">
                                <div *ngIf="username.invalid && (username.dirty || username.touched)">
                                    <span *ngIf="username.errors.required" class="text-danger"> Username is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" required="" id="password" placeholder="Enter your password" formControlName="password">
                                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                                    <span *ngIf="password.errors.required" class="text-danger"> Password is required.</span>
                                    <span *ngIf="password.errors.minlength" class="text-danger"> Password must be at least 6 characters.</span>
                                </div>
                            </div>

                            <!-- <div class="form-group mb-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked="">
                                    <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                </div>
                            </div> -->
                            <p class="alert alert-danger" *ngIf="errMsg">{{errMsg}}</p>
                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid"> Sign Up </button>
                            </div>

                        </form>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Already have account? <a routerLink="/login" class="text-muted ml-1"><b>Log In</b></a></p>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>